apiVersion: v1
kind: Service
metadata:
  name: jenkins-service
  namespace: devops-tools
spec:
  selector:
    app: jenkins-server
  type: NodePort
  ports:
  - name: http-port
    port: 8080
    targetPort: 8080
    nodePort: 30000
  - name: jnlp-port
    port: 50000
    targetPort: 50000
